{
    "plugins": [
        "filenames",
        "import"
    ],
    "extends": "eslint:recommended",
    "globals": {
        "require": true,
        "module": true,
        "exports": true,
        "console": true,
        "setTimeout": true,
        "process": true
    },
    "root": true,
    "baseConfig": true,
    "rules": {
        "import/no-extraneous-dependencies": [2, { "devDependencies": false, "optionalDependencies": false }],
        "import/no-unresolved": 2,
        "import/no-duplicates": 1,
        "import/no-deprecated": 2,
        // only allow dash-case-file-names
        "filenames/match-regex": [2, "^[-a-z]+$", true],
        // Enforces getter/setter pairs in objects
        "accessor-pairs": 0,
        // treat var statements as if they were block scoped
        "block-scoped-var": 2,
        // specify the maximum cyclomatic complexity allowed in a program
        "complexity": [2, 15],
        // specify curly brace conventions for all control statements
        "curly": 2,
        // require default case in switch statements
        "default-case": 2,
        // enforces consistent newlines before or after dots
        "dot-location": 2,
        // encourages use of dot notation whenever possible
        "dot-notation": 0,
        // require the use of === and !==
        "eqeqeq": 2,
        "no-console": 2,
        // disallow division operators explicitly at beginning of regular expression
        "no-div-regex": 2,
        // disallow else after a return in an if
        "no-else-return": 2,
        // disallow use of empty destructuring patterns
        "no-empty-pattern": 2,
        // disallow comparisons to null without a type-checking operator
        "no-eq-null": 2,
        // disallow adding to native types
        "no-extend-native": 2,
        // disallow unnecessary function binding
        "no-extra-bind": 2,
        // disallow fallthrough of case statements
        "no-fallthrough": 2,
        // disallow the use of leading or trailing decimal points in numeric literals
        "no-floating-decimal": 2,
        // disallow the type conversions with shorter notations
        "no-implicit-coercion": 2,
        // disallow this keywords outside of classes or class-like objects
        "no-invalid-this": 2,
        // disallow usage of __iterator__ property
        "no-iterator": 2,
        // disallow use of labeled statements
        "no-labels": 2,
        // disallow unnecessary nested blocks
        "no-lone-blocks": 2,
        // disallow creation of functions within loops
        "no-loop-func": 2,
        // Exclude some common conditional numbers and common time modifiers
        "no-magic-numbers": [2, { "ignore": [-1, 0, 1, 60, 100, 1000, 3600] }],
        // disallow use of multiple spaces
        "no-multi-spaces": 2,
        // disallow use of multiline strings
        "no-multi-str": 2,
        // disallow reassignments of native objects
        "no-native-reassign": 2,
        // disallow use of new operator for Function object
        "no-new-func": 2,
        // disallows creating new instances of String, Number, and Boolean
        "no-new-wrappers": 2,
        // disallow use of new operator when not part of the assignment or comparison
        "no-new": 2,
        // disallow use of octal escape sequences in string literals, such as
        // var foo = "Copyright \251";
        "no-octal-escape": 2,
        // disallow use of (old style) octal literals
        "no-octal": 2,
        // disallow declaring the same variable more then once
        "no-redeclare": 2,
        // disallow use of `javascript:` urls.
        "no-script-url": 2,
        // disallow comparisons where both sides are exactly the same
        "no-self-compare": 2,
        // disallow use of comma operator
        "no-sequences": 2,
        // restrict what can be thrown as an exception
        "no-throw-literal": 2,
        "no-trailing-spaces": 2,
        // disallow usage of expressions in statement position
        "no-unused-expressions": 2,
        "no-unused-vars": [2, { "vars": "all", "args": "all", "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
        // disallow unnecessary .call() and .apply()
        "no-useless-call": 2,
        // disallow unnecessary concatenation of literals or template literals
        "no-useless-concat": 2,
        // disallow use of void operator
        "no-void": 2,
        // disallow use of the with statement
        "no-with": 2,
        // require use of the second argument for parseInt()
        "radix": 2,
        // require use of semi colon
        "semi": 2,
        // require immediate function invocation to be wrapped in parentheses
        "wrap-iife": 2,
        // require or disallow Yoda conditions
        "yoda": 2
    }
}
