{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Test Template",
    "Parameters": {
        "ServiceToken": {
            "Type": "String",
            "Description": "CustomResource Lambda ARN"
        }
    },
    "Resources": {
        "TestRestApi" : {
            "Type" : "Custom::RestApi",
            "Properties" : {
                "ServiceToken": { "Ref": "ServiceToken" },
                "name": "Test API",
                "description": "This is a test API with a new description"
            }
        },
        "TestAuthorizer": {
            "Type": "Custom::ApiAuthorizer",
            "Properties": {
                "ServiceToken": { "Ref": "ServiceToken" },
                "restApiId": { "Fn::GetAtt": ["TestRestApi", "id"] },
                "authorizerUri": "{AUTHORIZER_LAMBDA_INVOCATION_ARN}",
                "identitySource": "method.request.header.x-auth-token",
                "name": "TestAuthorizer",
                "authorizerResultTtlInSeconds": 30,
                "authorizerCredentials": "{API_GATEWAY_INVOKE_LAMBDA_IAM_ROLE_ARN}"
            }
        },
        "TestApiResource" : {
            "Type" : "Custom::ApiResource",
            "Properties" : {
                "ServiceToken": { "Ref": "ServiceToken" },
                "restApiId": { "Fn::GetAtt": ["TestRestApi", "id"] },
                "parentId": { "Fn::GetAtt": ["TestRestApi", "parentResourceId"] },
                "pathPart": "test-resource",
                "corsConfiguration": {
                    "allowMethods": ["GET", "POST"],
                    "allowHeaders": ["x-my-header", "some-other-header"],
                    "allowDefaultHeaders": true,
                    "allowOrigin": "www.example.com",
                    "exposeHeaders": ["some-header", "x-another-header"],
                    "maxAge": 1800,
                    "allowCredentials": true
                }
            }
        },
        "TestApiResource2" : {
            "Type" : "Custom::ApiResource",
            "Properties" : {
                "ServiceToken": { "Ref": "ServiceToken" },
                "restApiId": { "Fn::GetAtt": ["TestRestApi", "id"] },
                "parentId": { "Fn::GetAtt": ["TestRestApi", "parentResourceId"] },
                "pathPart": "test-resource2",
                "corsConfiguration": {
                    "allowMethods": ["GET", "POST"],
                    "allowHeaders": ["x-my-header", "some-other-header"],
                    "allowDefaultHeaders": true,
                    "allowOrigin": "www.example.com",
                    "exposeHeaders": ["some-header", "x-another-header"],
                    "maxAge": 1800,
                    "allowCredentials": true
                }
            }
        },
        "TestModel": {
            "Type": "Custom::ApiModel",
            "Properties": {
                "ServiceToken": { "Ref": "ServiceToken" },
                "restApiId": { "Fn::GetAtt": ["TestRestApi", "id"] },
                "name": "TestModel",
                "contentType": "application/json",
                "schema": {
                    "type": "object",
                    "properties": {
                        "country": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "TestModelWithParent": {
            "Type": "Custom::ApiModel",
            "Properties": {
                "ServiceToken": { "Ref": "ServiceToken" },
                "restApiId": { "Fn::GetAtt": ["TestRestApi", "id"] },
                "name": "TestModelWithParent",
                "contentType": "application/json",
                "schema": {
                    "allOf": [
                        {
                            "$ref": { "Fn::Join": ["", ["https://apigateway.amazonaws.com/restapis/", { "Fn::GetAtt": ["TestRestApi", "id"] }, "/models/", { "Fn::GetAtt": ["TestModel", "name"] }]] }
                        },
                        {
                            "type": "object",
                            "properties": {
                                "accountName": {
                                    "type": "string"
                                }
                            }
                        }
                    ]
                }
            }
        },
        "TestApiMethod" : {
            "Type" : "Custom::ApiMethod",
            "Properties" : {
                "ServiceToken": { "Ref": "ServiceToken" },
                "restApiId": { "Fn::GetAtt": ["TestRestApi", "id"] },
                "resourceId": { "Fn::GetAtt": ["TestApiResource2", "id"] },
                "method": {
                    "authorizationType": "CUSTOM",
                    "authorizerId": { "Fn::GetAtt": ["TestAuthorizer", "id"] },
                    "httpMethod": "GET",
                    "apiKeyRequired": "true",
                    "requestModels": {
                        "application/json": { "Fn::GetAtt": ["TestModel", "name"] }
                    },
                    "parameters": [
                        "querystring.sortBy",
                        "header.x-test-header",
                        "path.entityType"
                    ]
                },
                "integration": {
                    "type": "MOCK",
                    "requestTemplates": {
                        "application/json": "{\"statusCode\": 200}"
                    },
                    "requestParameters": {
                        "integration.request.querystring.sortBy": "'hardcodedValue'"
                    }
                },
                "responses": {
                    "default": {
                        "statusCode": "200",
                        "headers": {
                            "X-Custom-Header": "'hardcodedValue'"
                        }
                    },
                    ".*NotFound.*": {
                        "statusCode": "404"
                    }
                }
            }
        }
    },
    "Outputs": {
        "RestApiId": {
            "Value": { "Fn::GetAtt": ["TestRestApi", "id"] }
        },
        "ParentResourceId": {
            "Value": { "Fn::GetAtt": ["TestRestApi", "parentResourceId"] }
        },
        "TestResourceId": {
            "Value": { "Fn::GetAtt": ["TestApiResource", "id"] }
        }
    }
}